<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet"  href  = "./css/style.css">
</head>
<body>
    <p> Everett Auto Repairs Database Management System</p>
<ul> <!-- navbar -->
    <li><a href="/">Customers</a></li>
    <li><a href="/customer_vehicles">Customer Vehicles</a></li>
    <li><a href="/service_representatives">Service Representatives</a></li>
    <li><a href="/locations">Locations</a></li>
    <li><a href="/service_items">Service Items</a></li>
    <li><a href="/service_orders">Service Orders</a></li>
    <li><a href="/service_order_details">Service Order Details</a></li>
</ul>
    {{{body}}}

</body>
</html>
